ex1-0(lot MQTT Panel)](alexa-smart-home-v3)[node-red/flows.json
[
    {
        "id": "e3feeeb4aa12c6f0",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "093118607f9bcad6",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "04e05dec6601139d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 660,
        "wires": [
            [
                "d7d073f40b1c7b9c",
                "0d276545e822afd5"
            ]
        ]
    },
    {
        "id": "d7d073f40b1c7b9c",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 900,
        "y": 700,
        "wires": [
            [],
            [
                "aecadadd51c983fe"
            ]
        ]
    },
    {
        "id": "0adfb405975b4fbc",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "396809d5b940349f"
            ],
            [
                "e9b193a1416fc80f"
            ]
        ]
    },
    {
        "id": "396809d5b940349f",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "14d977b4cc70d0d5",
                "841990d2f65c1421"
            ]
        ]
    },
    {
        "id": "e9b193a1416fc80f",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "14d977b4cc70d0d5"
            ]
        ]
    },
    {
        "id": "841990d2f65c1421",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff1_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f71b67895cbfd00",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff1_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 60,
        "wires": [
            [
                "f65730843bc451a1",
                "ced8efc0bf6cf544"
            ]
        ]
    },
    {
        "id": "ced8efc0bf6cf544",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "9ec6343d08d13227",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "f65730843bc451a1",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 880,
        "y": 240,
        "wires": [
            [],
            [
                "ad859940cdb16819"
            ]
        ]
    },
    {
        "id": "202c41707cb05209",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "419cffd938dae8e5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 1120,
        "wires": [
            [
                "cbc0894da85cc035",
                "d72c1a07a7d4f8d4"
            ]
        ]
    },
    {
        "id": "cbc0894da85cc035",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 920,
        "y": 1120,
        "wires": [
            [],
            [
                "6992051d81b92371"
            ]
        ]
    },
    {
        "id": "7fc6eb90fe7af307",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "0f7b4e0332189ecf"
            ],
            [
                "700e8fd0dccef372"
            ]
        ]
    },
    {
        "id": "0f7b4e0332189ecf",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            [
                "093118607f9bcad6",
                "4bb5cee032366ec2"
            ]
        ]
    },
    {
        "id": "700e8fd0dccef372",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "093118607f9bcad6"
            ]
        ]
    },
    {
        "id": "4bb5cee032366ec2",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff2_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "46c019bafcfd2e74",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff3_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 960,
        "wires": [
            [
                "cbc0894da85cc035",
                "d72c1a07a7d4f8d4"
            ]
        ]
    },
    {
        "id": "d72c1a07a7d4f8d4",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "419cffd938dae8e5",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 1040,
        "wires": []
    },
    {
        "id": "81e3eb894b75b2c2",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff2_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 500,
        "wires": [
            [
                "0d276545e822afd5",
                "d7d073f40b1c7b9c"
            ]
        ]
    },
    {
        "id": "0d276545e822afd5",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "04e05dec6601139d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "3a87c2d426f5aeb0",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a99af2e5d0b2aaa4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 1560,
        "wires": [
            [
                "bc15d8b77178a60f",
                "2ca766def239e4de"
            ]
        ]
    },
    {
        "id": "bc15d8b77178a60f",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "3",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 940,
        "y": 1560,
        "wires": [
            [],
            [
                "1fd44410d05b4caf"
            ]
        ]
    },
    {
        "id": "56c0c45888d34892",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff4_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 1400,
        "wires": [
            [
                "bc15d8b77178a60f",
                "2ca766def239e4de"
            ]
        ]
    },
    {
        "id": "2ca766def239e4de",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "a99af2e5d0b2aaa4",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 1480,
        "wires": []
    },
    {
        "id": "93a0e1d732700fe6",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "6232e555484312cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 1980,
        "wires": [
            [
                "265723f5c48bac28",
                "161273cdf37c64e0"
            ]
        ]
    },
    {
        "id": "265723f5c48bac28",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "4",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 960,
        "y": 2000,
        "wires": [
            [],
            [
                "2054ed49a09e6434"
            ]
        ]
    },
    {
        "id": "a437c845eacaab61",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "1264b45cde5c5417"
            ],
            [
                "b4c167878a9ccf34"
            ]
        ]
    },
    {
        "id": "1264b45cde5c5417",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1060,
        "wires": [
            [
                "b05233b664a5b5b7",
                "202c41707cb05209"
            ]
        ]
    },
    {
        "id": "b4c167878a9ccf34",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 6",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1140,
        "wires": [
            [
                "202c41707cb05209"
            ]
        ]
    },
    {
        "id": "b05233b664a5b5b7",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff3_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "e8dc09d11978492b",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff5_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 900,
        "y": 1820,
        "wires": [
            [
                "265723f5c48bac28",
                "161273cdf37c64e0"
            ]
        ]
    },
    {
        "id": "161273cdf37c64e0",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "6232e555484312cf",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 1900,
        "wires": []
    },
    {
        "id": "9fad13ab4cdb1fde",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8698074accc216c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 2380,
        "wires": [
            [
                "a54deefefca77f1c",
                "14ef9e4c6dddb8da"
            ]
        ]
    },
    {
        "id": "a54deefefca77f1c",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "5",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 980,
        "y": 2420,
        "wires": [
            [],
            [
                "ef10709c45ee5de2"
            ]
        ]
    },
    {
        "id": "e4196f8598aa677b",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff6_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 2220,
        "wires": [
            [
                "a54deefefca77f1c",
                "14ef9e4c6dddb8da"
            ]
        ]
    },
    {
        "id": "14ef9e4c6dddb8da",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "8698074accc216c0",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 2280,
        "wires": []
    },
    {
        "id": "c1567807ee83fa46",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "1916d5b2b56dbea0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 2840,
        "wires": [
            [
                "fa8b8dd76255ce3e",
                "38eae07670f6c916"
            ]
        ]
    },
    {
        "id": "fa8b8dd76255ce3e",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "6",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1000,
        "y": 2840,
        "wires": [
            [],
            [
                "42a3530d56272783"
            ]
        ]
    },
    {
        "id": "34b4e74b8e2c3fc0",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1520,
        "wires": [
            [
                "84171b6ecbe747ba"
            ],
            [
                "7a43ce72aaade7df"
            ]
        ]
    },
    {
        "id": "84171b6ecbe747ba",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1480,
        "wires": [
            [
                "297c312e0cf05ecc",
                "3a87c2d426f5aeb0"
            ]
        ]
    },
    {
        "id": "7a43ce72aaade7df",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 8",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1560,
        "wires": [
            [
                "3a87c2d426f5aeb0"
            ]
        ]
    },
    {
        "id": "297c312e0cf05ecc",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff4_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 620,
        "y": 1400,
        "wires": []
    },
    {
        "id": "97685592bdf2f22d",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff7_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 2620,
        "wires": [
            [
                "fa8b8dd76255ce3e",
                "38eae07670f6c916"
            ]
        ]
    },
    {
        "id": "38eae07670f6c916",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "1916d5b2b56dbea0",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 2740,
        "wires": []
    },
    {
        "id": "090110174e19e327",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8b177f8e1fccb595",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 3260,
        "wires": [
            [
                "8905777fae564d6b",
                "3d651d142e2e5334"
            ]
        ]
    },
    {
        "id": "8905777fae564d6b",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "7",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1000,
        "y": 3260,
        "wires": [
            [],
            [
                "b6e8668d0c38f5a7"
            ]
        ]
    },
    {
        "id": "0e48d5a86c4735bb",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff8_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 3100,
        "wires": [
            [
                "8905777fae564d6b",
                "3d651d142e2e5334"
            ]
        ]
    },
    {
        "id": "3d651d142e2e5334",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "8b177f8e1fccb595",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 3180,
        "wires": []
    },
    {
        "id": "9419c7a57c7d3fbd",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "83297fde04603a3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 3680,
        "wires": [
            [
                "168213550e514389",
                "ce21b60278d4de3f"
            ]
        ]
    },
    {
        "id": "168213550e514389",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "8",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1000,
        "y": 3660,
        "wires": [
            [],
            [
                "635eedb5bb4c7afe"
            ]
        ]
    },
    {
        "id": "c61a4c6e4bd3fc44",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff5_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 660,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6ceb279a7817b602",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff9_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 960,
        "y": 3520,
        "wires": [
            [
                "168213550e514389",
                "ce21b60278d4de3f"
            ]
        ]
    },
    {
        "id": "ce21b60278d4de3f",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "83297fde04603a3c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 3620,
        "wires": []
    },
    {
        "id": "bda9aaa24ad27f41",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "6e0c9516caac10ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 4120,
        "wires": [
            [
                "12f0312ae7116278",
                "71311fb514e28b4f"
            ]
        ]
    },
    {
        "id": "12f0312ae7116278",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "9",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1020,
        "y": 4120,
        "wires": [
            [],
            [
                "bf34648534024766"
            ]
        ]
    },
    {
        "id": "78173dca5dc6808a",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff10_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1000,
        "y": 3960,
        "wires": [
            [
                "12f0312ae7116278",
                "71311fb514e28b4f"
            ]
        ]
    },
    {
        "id": "71311fb514e28b4f",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "6e0c9516caac10ee",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 4060,
        "wires": []
    },
    {
        "id": "19bcae61b07318e7",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "36483",
        "acknowledge": true,
        "name": "전등",
        "topic": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "d1684d91d03440c7",
                "0adfb405975b4fbc"
            ]
        ]
    },
    {
        "id": "6198bbc22a674af0",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "38747",
        "acknowledge": true,
        "name": "쿨러",
        "topic": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "efcc98a47822a065",
                "7fc6eb90fe7af307"
            ]
        ]
    },
    {
        "id": "01adfa5acb354242",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "31165",
        "acknowledge": true,
        "name": "침대",
        "topic": "",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "7a2a2afb8bc887be",
                "a437c845eacaab61"
            ]
        ]
    },
    {
        "id": "4e56516dd8dd012a",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "36481",
        "acknowledge": true,
        "name": "조명",
        "topic": "",
        "x": 190,
        "y": 1460,
        "wires": [
            [
                "4c8dbc6a3685da67",
                "34b4e74b8e2c3fc0"
            ]
        ]
    },
    {
        "id": "d1684d91d03440c7",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "36483",
        "name": "전등",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "efcc98a47822a065",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "38747",
        "name": "쿨러",
        "x": 150,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a2a2afb8bc887be",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "31165",
        "name": "침대",
        "x": 170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4c8dbc6a3685da67",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "36481",
        "name": "조명",
        "x": 190,
        "y": 1560,
        "wires": []
    },
    {
        "id": "524c2960cff4b6c1",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1940,
        "wires": [
            [
                "80e3542f854ca37e"
            ],
            [
                "9485a79a5efbdb1a"
            ]
        ]
    },
    {
        "id": "80e3542f854ca37e",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 9",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1880,
        "wires": [
            [
                "c61a4c6e4bd3fc44",
                "93a0e1d732700fe6"
            ]
        ]
    },
    {
        "id": "9485a79a5efbdb1a",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 10",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1980,
        "wires": [
            [
                "93a0e1d732700fe6"
            ]
        ]
    },
    {
        "id": "1b562bdb27523084",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "36482",
        "acknowledge": true,
        "name": "에어컨",
        "topic": "",
        "x": 210,
        "y": 1840,
        "wires": [
            [
                "8d8e4e29298cf676",
                "524c2960cff4b6c1"
            ]
        ]
    },
    {
        "id": "8d8e4e29298cf676",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "36482",
        "name": "에어컨",
        "x": 210,
        "y": 1940,
        "wires": []
    },
    {
        "id": "e6b4714440462fed",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "48c81b67aed0c5ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 4520,
        "wires": [
            [
                "3f22cc15f5f758a7",
                "6dbf1674297e1249"
            ]
        ]
    },
    {
        "id": "3f22cc15f5f758a7",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "10",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1040,
        "y": 4520,
        "wires": [
            [],
            [
                "07ac2b06798f9ee2"
            ]
        ]
    },
    {
        "id": "804768018b0a68ae",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff9_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 700,
        "y": 3520,
        "wires": []
    },
    {
        "id": "b6e6c30e25dc77d2",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff11_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 4400,
        "wires": [
            [
                "3f22cc15f5f758a7",
                "6dbf1674297e1249"
            ]
        ]
    },
    {
        "id": "6dbf1674297e1249",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "48c81b67aed0c5ec",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 4420,
        "wires": []
    },
    {
        "id": "58aeda3fc75a1f07",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "cbc04fc6ecf4c6fc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 4740,
        "wires": [
            [
                "89a5b1b93cad566d",
                "61648287433bbd30"
            ]
        ]
    },
    {
        "id": "89a5b1b93cad566d",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "11",
        "quantity": "1",
        "server": "708ff6d7311fc779",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 4740,
        "wires": [
            [],
            [
                "f236ebac256b6b76"
            ]
        ]
    },
    {
        "id": "eea8d836d68c90e1",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff12_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1040,
        "y": 4620,
        "wires": [
            [
                "89a5b1b93cad566d",
                "61648287433bbd30"
            ]
        ]
    },
    {
        "id": "61648287433bbd30",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 2,
        "group": "cbc04fc6ecf4c6fc",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 790,
        "y": 4640,
        "wires": []
    },
    {
        "id": "9751009d84417508",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 3660,
        "wires": [
            [
                "abf9904dd13f6563"
            ],
            [
                "fd7e9f1c5ff621b0"
            ]
        ]
    },
    {
        "id": "abf9904dd13f6563",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 11",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3640,
        "wires": [
            [
                "804768018b0a68ae",
                "9419c7a57c7d3fbd"
            ]
        ]
    },
    {
        "id": "fd7e9f1c5ff621b0",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 12",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 3740,
        "wires": [
            [
                "9419c7a57c7d3fbd"
            ]
        ]
    },
    {
        "id": "5ed041d7361dfc92",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "64296",
        "acknowledge": true,
        "name": "1단 릴레이 스위치",
        "topic": "",
        "x": 260,
        "y": 3580,
        "wires": [
            [
                "51c0b6cf30de4685",
                "9751009d84417508"
            ]
        ]
    },
    {
        "id": "51c0b6cf30de4685",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "64296",
        "name": "1단 릴레이 스위치",
        "x": 270,
        "y": 3720,
        "wires": []
    },
    {
        "id": "7ac63c62159405cb",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "fa3b4080f18b44a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 4960,
        "wires": [
            [
                "e98de0efa9df0452",
                "8007ac60e1c9d4fb"
            ]
        ]
    },
    {
        "id": "e98de0efa9df0452",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "12",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 4920,
        "wires": [
            [],
            [
                "edb6522aeca56934"
            ]
        ]
    },
    {
        "id": "7f7423262e105b34",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff7_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 680,
        "y": 2620,
        "wires": []
    },
    {
        "id": "1f07542ec2125052",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff13_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 4820,
        "wires": [
            [
                "e98de0efa9df0452",
                "8007ac60e1c9d4fb"
            ]
        ]
    },
    {
        "id": "8007ac60e1c9d4fb",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "fa3b4080f18b44a9",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 4880,
        "wires": []
    },
    {
        "id": "55f1565217f14fe5",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8be0b9db61f0301c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 5180,
        "wires": [
            [
                "1a4b45ebb0d6e46f",
                "d562c3d5a6838c57"
            ]
        ]
    },
    {
        "id": "1a4b45ebb0d6e46f",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "13",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1060,
        "y": 5180,
        "wires": [
            [],
            [
                "b1f0e46dd60a3f4f"
            ]
        ]
    },
    {
        "id": "a6aafccbeed09478",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff14_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 5040,
        "wires": [
            [
                "1a4b45ebb0d6e46f",
                "d562c3d5a6838c57"
            ]
        ]
    },
    {
        "id": "d562c3d5a6838c57",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 2,
        "group": "8be0b9db61f0301c",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 5100,
        "wires": []
    },
    {
        "id": "18fafb595e6cc6ca",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 2800,
        "wires": [
            [
                "15a05022146fd143"
            ],
            [
                "cfc93bc0ddbbc349"
            ]
        ]
    },
    {
        "id": "15a05022146fd143",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 13",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2760,
        "wires": [
            [
                "7f7423262e105b34",
                "c1567807ee83fa46"
            ]
        ]
    },
    {
        "id": "cfc93bc0ddbbc349",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 14",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2860,
        "wires": [
            [
                "c1567807ee83fa46"
            ]
        ]
    },
    {
        "id": "9c6a3fe8fc86a863",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "26512a1aa5ff7b8e",
        "device": "36484",
        "acknowledge": true,
        "name": "창고",
        "topic": "",
        "x": 230,
        "y": 2740,
        "wires": [
            [
                "47869a7228c824ee",
                "18fafb595e6cc6ca"
            ]
        ]
    },
    {
        "id": "47869a7228c824ee",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "36484",
        "name": "창고",
        "x": 230,
        "y": 2860,
        "wires": []
    },
    {
        "id": "96397a912388823e",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a01ee643b4f0970a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 5440,
        "wires": [
            [
                "66f81ebc88138d66",
                "51cc079e32cec706"
            ]
        ]
    },
    {
        "id": "66f81ebc88138d66",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "14",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1080,
        "y": 5380,
        "wires": [
            [],
            [
                "5f911cb63a00c429"
            ]
        ]
    },
    {
        "id": "1df9ef9116cf3808",
        "type": "mqtt out",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff10_zv123",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2e417f87180bbf16",
        "x": 700,
        "y": 3960,
        "wires": []
    },
    {
        "id": "8cd3462974333e86",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff15_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1080,
        "y": 5280,
        "wires": [
            [
                "66f81ebc88138d66",
                "51cc079e32cec706"
            ]
        ]
    },
    {
        "id": "51cc079e32cec706",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 1,
        "group": "a01ee643b4f0970a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 810,
        "y": 5360,
        "wires": []
    },
    {
        "id": "50d82c268e333f9d",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "d083a8f7dc3612f3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 830,
        "y": 5680,
        "wires": [
            [
                "a7e9f50d8cc7e939",
                "f4b46d71ac05f4b2"
            ]
        ]
    },
    {
        "id": "a7e9f50d8cc7e939",
        "type": "modbus-write",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "15",
        "quantity": "1",
        "server": "fc533e606813e4f3",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1080,
        "y": 5680,
        "wires": [
            [],
            [
                "e45581608a122517"
            ]
        ]
    },
    {
        "id": "e02f3474d8338e1a",
        "type": "mqtt in",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "topic": "sonoff16_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2e417f87180bbf16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1080,
        "y": 5520,
        "wires": [
            [
                "a7e9f50d8cc7e939",
                "f4b46d71ac05f4b2"
            ]
        ]
    },
    {
        "id": "f4b46d71ac05f4b2",
        "type": "ui_led",
        "z": "e3feeeb4aa12c6f0",
        "order": 2,
        "group": "d083a8f7dc3612f3",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffff00",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 830,
        "y": 5600,
        "wires": []
    },
    {
        "id": "5e2b729b7a07f4a8",
        "type": "switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 4060,
        "wires": [
            [
                "6fe5b6a192b66cf7"
            ],
            [
                "b8206ba194f89f1d"
            ]
        ]
    },
    {
        "id": "6fe5b6a192b66cf7",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 15",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 4040,
        "wires": [
            [
                "1df9ef9116cf3808",
                "bda9aaa24ad27f41"
            ]
        ]
    },
    {
        "id": "b8206ba194f89f1d",
        "type": "function",
        "z": "e3feeeb4aa12c6f0",
        "name": "function 16",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 4140,
        "wires": [
            [
                "bda9aaa24ad27f41"
            ]
        ]
    },
    {
        "id": "95a887f1ad53c729",
        "type": "alexa-smart-home-v3",
        "z": "e3feeeb4aa12c6f0",
        "conf": "d5f00d7244d44f72",
        "device": "64297",
        "acknowledge": true,
        "name": "저항 LED",
        "topic": "",
        "x": 260,
        "y": 4000,
        "wires": [
            [
                "30154c08b05a4b9b",
                "5e2b729b7a07f4a8"
            ]
        ]
    },
    {
        "id": "30154c08b05a4b9b",
        "type": "alexa-smart-home-v3-state",
        "z": "e3feeeb4aa12c6f0",
        "conf": "fca7cf2ca8e76f9c",
        "device": "64297",
        "name": "저항 LED",
        "x": 260,
        "y": 4120,
        "wires": []
    },
    {
        "id": "f362baaa8a31fd13",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "9ec6343d08d13227",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "전등 0번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "f65730843bc451a1"
            ]
        ]
    },
    {
        "id": "c7b8c48bb24e2d5b",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "9ec6343d08d13227",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "전등 0번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 380,
        "wires": [
            [
                "f65730843bc451a1"
            ]
        ]
    },
    {
        "id": "14d977b4cc70d0d5",
        "type": "ui_switch",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "9ec6343d08d13227",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "ced8efc0bf6cf544",
                "f65730843bc451a1"
            ]
        ]
    },
    {
        "id": "1b2b5bfa19f2e254",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "04e05dec6601139d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "쿨러1번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 740,
        "wires": [
            [
                "d7d073f40b1c7b9c"
            ]
        ]
    },
    {
        "id": "b344b3f0bcb16cf4",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "04e05dec6601139d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "쿨러1번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 800,
        "wires": [
            [
                "d7d073f40b1c7b9c"
            ]
        ]
    },
    {
        "id": "f896eec85e414e42",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "419cffd938dae8e5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "침대 2번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 1200,
        "wires": [
            [
                "cbc0894da85cc035"
            ]
        ]
    },
    {
        "id": "356fcabdac26847b",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "419cffd938dae8e5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "침대 2번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 1280,
        "wires": [
            [
                "cbc0894da85cc035"
            ]
        ]
    },
    {
        "id": "b5c200489b8c9d84",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "a99af2e5d0b2aaa4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "조명 3번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 1640,
        "wires": [
            [
                "bc15d8b77178a60f"
            ]
        ]
    },
    {
        "id": "1692b41272a4e3ef",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "a99af2e5d0b2aaa4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "조명 3번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 1720,
        "wires": [
            [
                "bc15d8b77178a60f"
            ]
        ]
    },
    {
        "id": "d41f17914db92a2c",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "6232e555484312cf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "에어컨 4번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 2060,
        "wires": [
            [
                "265723f5c48bac28"
            ]
        ]
    },
    {
        "id": "e9d7832a68b5505a",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "6232e555484312cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "에어컨 4번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 2140,
        "wires": [
            [
                "265723f5c48bac28"
            ]
        ]
    },
    {
        "id": "06313e294f4e7b81",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "8698074accc216c0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "안방 5번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 2460,
        "wires": [
            [
                "a54deefefca77f1c"
            ]
        ]
    },
    {
        "id": "420a6fc4616c8528",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "8698074accc216c0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "안방 5번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 2540,
        "wires": [
            [
                "a54deefefca77f1c"
            ]
        ]
    },
    {
        "id": "5f1375145c48c61e",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "1916d5b2b56dbea0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "창고 6번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 2920,
        "wires": [
            [
                "fa8b8dd76255ce3e"
            ]
        ]
    },
    {
        "id": "7048b754d8462c90",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "1916d5b2b56dbea0",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "창고 6번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 3000,
        "wires": [
            [
                "fa8b8dd76255ce3e"
            ]
        ]
    },
    {
        "id": "853060dd939fcfc4",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "8b177f8e1fccb595",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "주방 7번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 3340,
        "wires": [
            [
                "8905777fae564d6b"
            ]
        ]
    },
    {
        "id": "81e05b1d3def4c53",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "8b177f8e1fccb595",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "주방 7번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 3420,
        "wires": [
            [
                "8905777fae564d6b"
            ]
        ]
    },
    {
        "id": "ad859940cdb16819",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "aecadadd51c983fe",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1110,
        "y": 700,
        "wires": []
    },
    {
        "id": "6992051d81b92371",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1130,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1fd44410d05b4caf",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1150,
        "y": 1560,
        "wires": []
    },
    {
        "id": "2054ed49a09e6434",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1170,
        "y": 2000,
        "wires": []
    },
    {
        "id": "ef10709c45ee5de2",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1190,
        "y": 2420,
        "wires": []
    },
    {
        "id": "42a3530d56272783",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1210,
        "y": 2840,
        "wires": []
    },
    {
        "id": "f25e50d141aff7ac",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "83297fde04603a3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1단 릴레이 스위치 7번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 3760,
        "wires": [
            [
                "168213550e514389"
            ]
        ]
    },
    {
        "id": "0fa0497fbd77ff53",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "83297fde04603a3c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1단 릴레이 스위치 7번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 3840,
        "wires": [
            [
                "168213550e514389"
            ]
        ]
    },
    {
        "id": "a38698a007e04d5b",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "6e0c9516caac10ee",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "저항 LED 7번 켜",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 4220,
        "wires": [
            [
                "12f0312ae7116278"
            ]
        ]
    },
    {
        "id": "d608a5095bc3a9ab",
        "type": "ui_button",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "group": "6e0c9516caac10ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "저항 LED 7번 꺼",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 4300,
        "wires": [
            [
                "12f0312ae7116278"
            ]
        ]
    },
    {
        "id": "b6e8668d0c38f5a7",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1230,
        "y": 3260,
        "wires": []
    },
    {
        "id": "635eedb5bb4c7afe",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1230,
        "y": 3660,
        "wires": []
    },
    {
        "id": "bf34648534024766",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1250,
        "y": 4120,
        "wires": []
    },
    {
        "id": "07ac2b06798f9ee2",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1270,
        "y": 4520,
        "wires": []
    },
    {
        "id": "f236ebac256b6b76",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1270,
        "y": 4740,
        "wires": []
    },
    {
        "id": "edb6522aeca56934",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1270,
        "y": 4920,
        "wires": []
    },
    {
        "id": "b1f0e46dd60a3f4f",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1270,
        "y": 5180,
        "wires": []
    },
    {
        "id": "5f911cb63a00c429",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1290,
        "y": 5380,
        "wires": []
    },
    {
        "id": "e45581608a122517",
        "type": "modbus-response",
        "z": "e3feeeb4aa12c6f0",
        "name": "",
        "registerShowMax": 20,
        "x": 1290,
        "y": 5660,
        "wires": []
    },
    {
        "id": "04e05dec6601139d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "585316ec747035a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc533e606813e4f3",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "172.30.1.121",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM6",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "2e417f87180bbf16",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ec6343d08d13227",
        "type": "ui_group",
        "name": "Group 0",
        "tab": "585316ec747035a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "419cffd938dae8e5",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "585316ec747035a8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a99af2e5d0b2aaa4",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "585316ec747035a8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6232e555484312cf",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "585316ec747035a8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8698074accc216c0",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "585316ec747035a8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1916d5b2b56dbea0",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "585316ec747035a8",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b177f8e1fccb595",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "585316ec747035a8",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83297fde04603a3c",
        "type": "ui_group",
        "name": "Group 8",
        "tab": "585316ec747035a8",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e0c9516caac10ee",
        "type": "ui_group",
        "name": "Group 9",
        "tab": "585316ec747035a8",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26512a1aa5ff7b8e",
        "type": "alexa-smart-home-v3-conf",
        "username": "kimsuho",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "fca7cf2ca8e76f9c",
        "type": "alexa-smart-home-v3-conf",
        "username": "kimsuho",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "48c81b67aed0c5ec",
        "type": "ui_group",
        "name": "Group 10",
        "tab": "585316ec747035a8",
        "order": 11,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbc04fc6ecf4c6fc",
        "type": "ui_group",
        "name": "Group 11",
        "tab": "585316ec747035a8",
        "order": 12,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "708ff6d7311fc779",
        "type": "modbus-client",
        "name": "",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "172.30.1.121",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM13",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "115200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "fa3b4080f18b44a9",
        "type": "ui_group",
        "name": "Group 12",
        "tab": "585316ec747035a8",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8be0b9db61f0301c",
        "type": "ui_group",
        "name": "Group 13",
        "tab": "585316ec747035a8",
        "order": 14,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a01ee643b4f0970a",
        "type": "ui_group",
        "name": "Group 14",
        "tab": "585316ec747035a8",
        "order": 15,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d083a8f7dc3612f3",
        "type": "ui_group",
        "name": "Group 15",
        "tab": "585316ec747035a8",
        "order": 16,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5f00d7244d44f72",
        "type": "alexa-smart-home-v3-conf",
        "username": "kimsuho",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "585316ec747035a8",
        "type": "ui_tab",
        "name": "Tab 0",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]