새 폴더 (1)/ex1-1(lot MQTT Panel)[node-red]채팅/flows.json
[
    {
        "id": "3833452d0baafb43",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b91edc9a248b23d",
        "type": "inject",
        "z": "3833452d0baafb43",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "감사 ",
        "payloadType": "str",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "09f866587f1609d8"
            ]
        ]
    },
    {
        "id": "58c1a973dc391908",
        "type": "debug",
        "z": "3833452d0baafb43",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "09f866587f1609d8",
        "type": "mqtt out",
        "z": "3833452d0baafb43",
        "name": "",
        "topic": "sonoff17_zv123",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "129593e0.7e203c",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "58c04123b5b73ec8",
        "type": "mqtt in",
        "z": "3833452d0baafb43",
        "name": "",
        "topic": "sonoff17_zv123",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "129593e0.7e203c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "eac1dc75edd2647c",
                "58c1a973dc391908"
            ]
        ]
    },
    {
        "id": "422041c4454d9540",
        "type": "comment",
        "z": "3833452d0baafb43",
        "name": "채팅",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "991da6fe5777b9de",
        "type": "ui_text_input",
        "z": "3833452d0baafb43",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "1722d6c0.c5b989",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Sonoff13",
        "sendOnBlur": true,
        "topicType": "str",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "09f866587f1609d8"
            ]
        ]
    },
    {
        "id": "eac1dc75edd2647c",
        "type": "ui_text",
        "z": "3833452d0baafb43",
        "group": "1722d6c0.c5b989",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "d52f04e9ea3dc3b6",
        "type": "comment",
        "z": "3833452d0baafb43",
        "name": "Chart",
        "info": "",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "1ab00b003d123cab",
        "type": "mqtt out",
        "z": "3833452d0baafb43",
        "name": "",
        "topic": "sonoff18_zv123",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "129593e0.7e203c",
        "x": 1300,
        "y": 240,
        "wires": []
    },
    {
        "id": "cf4e554820d92750",
        "type": "mqtt in",
        "z": "3833452d0baafb43",
        "name": "",
        "topic": "sonoff18_zv123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "129593e0.7e203c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1220,
        "y": 500,
        "wires": [
            [
                "5ef3f59505b87828"
            ]
        ]
    },
    {
        "id": "83c2abd5fe7b8b3f",
        "type": "function",
        "z": "3833452d0baafb43",
        "name": "Random Temperature Values",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Temp 1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "51d44c7b1f5c4ea8",
                "1ab00b003d123cab"
            ]
        ]
    },
    {
        "id": "f61ae33a6a813cab",
        "type": "function",
        "z": "3833452d0baafb43",
        "name": "Random Temperature Values",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Temp 2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 360,
        "wires": [
            [
                "51d44c7b1f5c4ea8"
            ]
        ]
    },
    {
        "id": "5ef3f59505b87828",
        "type": "ui_button",
        "z": "3833452d0baafb43",
        "name": "",
        "group": "1722d6c0.c5b989",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Clear Chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "51d44c7b1f5c4ea8"
            ]
        ]
    },
    {
        "id": "51d44c7b1f5c4ea8",
        "type": "ui_chart",
        "z": "3833452d0baafb43",
        "name": "",
        "group": "1722d6c0.c5b989",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d2516ab598dedce1",
        "type": "inject",
        "z": "3833452d0baafb43",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "83c2abd5fe7b8b3f",
                "f61ae33a6a813cab"
            ]
        ]
    },
    {
        "id": "129593e0.7e203c",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1722d6c0.c5b989",
        "type": "ui_group",
        "name": "Group 0",
        "tab": "76e51cdf.b93f44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76e51cdf.b93f44",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]